<div class="whim-header">
  <div class="whim-title">{{title}}</div>
</div>
<form (ngSubmit)="addCalendarEvent()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" [(ngModel)]="_title" required />
  </div>

  <p3-whim-date-field
  [label]="'date'"
  [field]="'date'"
  [initialValue]="args.date"
  [editMode]="true"
  (onChange)="updateField($event)">
  </p3-whim-date-field>

  <div class="form-group multi-line">
    <label for="description">Description</label>
    <textarea name="description" class="form-control" [(ngModel)]="_description"
    placeholder="Any details to add..."></textarea>
  </div>

  <div class="button-group">
      <button type="submit">Add {{_title}}</button>
      <div class="button nav-away-button" (click)="toDashboard()">Back to dashboard</div>
  </div>

  <div class="process-message">{{processMessage}}</div>
</form>
