<div class="whim-header">
  <div class="whim-title">{{title}}</div>
</div>
<form (ngSubmit)="add()">

  <p3-whim-string-field
  [label]="'Title'"
  [(data)]="_title"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-date-recurring-field
  [label]="'Date'"
  [(data)]="_date"
  [editMode]="true">
  </p3-whim-date-recurring-field>

  <p3-whim-multiline-field
  [label]="'Description'"
  [(data)]="_description"
  [editMode]="true">
  </p3-whim-multiline-field>

  <div class="button-group">
      <button type="submit">Add {{_title}}</button>
      <div class="button nav-away-button" (click)="toDashboard()">Back to dashboard</div>
  </div>

  <div class="process-message">{{processMessage}}</div>
</form>
