<div class="whim-frame">
    <div class="whim-title">{{args.title}}</div>

    <div class="whim-form">
      <p3-whim-string-field
      [iconLabel]="'file-text'"
      [(data)]="_title"
      [showOn]="editMode"
      [editMode]="editMode">
      </p3-whim-string-field>

      <p3-whim-date-recurring-field
      [iconLabel]="'refresh'"
      [(data)]="_date"
      [editMode]="editMode">
      </p3-whim-date-recurring-field>

      <p3-whim-tags-field
      [iconLabel]="'tags'"
      [placeholder]="'Add any tags'"
      [(data)]="_tags"
      [editMode]="editMode">
      </p3-whim-tags-field>

      <p3-whim-multiline-field
      [iconLabel]="'align-left'"
      [placeholder]="'Add a description'"
      [(data)]="_description"
      [editMode]="editMode">
      </p3-whim-multiline-field>

      <div class="button-group">
        <div class="button" (click)="add()">Add</div>
        <div class="button" (click)="toDashboard()">Cancel</div>
      </div>

      <div class="process-message" *ngIf="processMessage">{{processMessage}}</div>
    </div>
  </div>
