<div class="host h-100">
    <div id="ride-options">

    </div>
    <div *ngIf="!componentLoading; else loading">
        <div class="rides" [style.height.px]="sidebarHeight">
            <div class="totals">
                <div class="total">
                    <span class="total-value">{{totals.emissions}} {{emissionsService.displayUnits}}</span>
                    <span class="total-label">Total Emissions</span>
                </div>
                <div class="total">
                    <span class="total-value">{{totals.rides}}</span>
                    <span class="total-label">Total Rides</span>
                </div>
            </div>
            <div *ngFor="let ride of rideHistory; index as i">
                <div class="ride">
                    <div class="ride-emissions" (click)="onEmissionsUnitChange($event)">
                        <div class="ride-emissions-est">
                            <div>{{rideEmissions[i]}}</div>
                            <span class="ride-emissions-unit"><var>{{emissionsService.displayUnits}}</var></span>
                        </div>
                        <div class="ride-emissions-desc">estimated emissions</div>
                    </div>
                    <div class="ride-header">
                        <h4>
                            {{ride.start_city.display_name}}
                            <small class="text-muted">{{ride.product.display_name}}</small>
                        </h4>
                        <div class="ride-metrics">
                            <div class="ride-dist">
                                <span class="material-icons">{{ICON.COMMUTE}}</span>
                                <span>{{formatDistance(ride.distance)}}</span>
                            </div>
                            <div>|</div>
                            <div class="ride-time">
                                <span class="material-icons">{{ICON.TIME}}</span>
                                <span>{{calculateTime(ride.request_time, ride.end_time)}}</span>
                            </div>
                        </div>
                        <div class="ride-start-time">
                            <span class="material-icons">{{ICON.DATE}}</span>
                            <span>{{formatRideTime(ride.start_time)}}</span>
                        </div>
                    </div>
                    <div class="ride-details">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <p3-loading [height]="sidebarHeight"></p3-loading>
    </ng-template>
</div>