<div class="host h-100">
    <div id="ride-options">

    </div>
    <div *ngIf="!componentLoading; else loading">
        <div class="rides" [style.height.px]="sidebarHeight">
            <div *ngFor="let ride of rideHistory">
                <div class="ride">
                    <div class="ride-emissions">
                        <div class="ride-emissions-est">
                            <div>{{calculate(ride)}}</div>
                            <span class="ride-emissions-unit"><var>grams</var></span>
                        </div>
                        <div class="ride-emissions-desc">estimated emissions</div>
                    </div>
                    <div class="ride-header">
                        <h4>
                            {{ride.start_city.display_name}}
                            <small class="text-muted">UberX</small>
                        </h4>
                        <div class="ride-metrics">
                            <div class="ride-dist">
                                <span class="material-icons">{{ICON.COMMUTE}}</span>
                                <span>{{formatDistance(ride.distance)}}</span>
                            </div>
                            <div>|</div>
                            <div class="ride-time">
                                <span class="material-icons">{{ICON.TIME}}</span>
                                <span>{{calculateTime(ride.request_time, ride.end_time)}}</span>
                            </div>
                        </div>
                        <div class="ride-start-time">{{formatRideTime(ride.start_time)}}</div>
                    </div>
                    <div class="ride-details">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>