<div class="whim-frame">
  <div class="whim-title">Sign In</div>
  <form class="whim-form" (ngSubmit)="login()">

    <p3-whim-string-field
    [iconLabel]="'lock'"
    [placeholder]="'Passcode'"
    [editMode]="editMode"
    [isPasscode]="true"
    [(data)]="passcodeInput">
    </p3-whim-string-field>

    <div class="button-group">
      <button type="submit" class="button">Log in</button>
      <div class="button" (click)="toLogin()">Different email?</div>
    </div>

  </form>

  <div class="process-message" *ngIf="processMessage">{{processMessage}}</div>
</div>
