.form-container {
  text-align: center;
  margin-top: 50px;
}

.form-title {
  font-weight: bold;
  line-height: 45px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 100px;

  input {
    width: 300px;
    outline: none;
    border-bottom: 1px solid #666;
    font: 1em 'Open Sans', 'sans-serif';
  }
}

.button-group {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  button {
    background-color: white;
    font: 1em 'Open Sans', 'sans-serif';
    border: 1px solid black;
    padding: 2px 8px;
    margin: 0 20px;
    text-transform: uppercase;
  }

  .nav-away-button {
    position: absolute;
    right: 0;
    cursor: pointer;
    font-weight: bold;
  }
}

