/* whim-specific styling */

.whim-frame {
  box-shadow: 0.3px 0.3px 4px 1px #ddd;
  overflow: hidden;
  min-width: 600px;
}

.whim-title {
  color: #fff;
  font-weight: 100;
  text-align: left;
  background-color: #1896e4;
  padding: 20px 15% 10px;
}

.whim-form {
  padding: 20px 15%;
  font-size: 85%;
}

.break {
  border-bottom: 1px dashed #ccc;
  height: 1px;
  width: 100%;
  margin: 15px 0;
}

 /* Date picker */
 .datepicker__input {
  border: none !important;
  padding: 0 !important;
  font-size: 1em !important;
  color: black !important;
  font: 1em 'Open Sans', sans-serif !important;
  background-color: #f5f5f5 !important;
}
