/* whim-specific styling */

.whim-header {
  display: block;
  position: relative;
  margin: 10px 0 15px;
}

.whim-title {
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

.whim-subtitle {
  font-size: 12px;
  text-align: center;
  font-style: italic;
  margin-bottom: 5px;
}

.break {
  border-bottom: 1px dashed #ccc;
  height: 1px;
  width: 100%;
  margin: 15px 0;
}

 /* Date picker */
 .datepicker__input {
  border: none !important;
  padding: 0 !important;
  font-size: 1em !important;
  color: black !important;
  font: 1em 'Open Sans', sans-serif !important;
}
