<div class="whim-header">
  <div class="whim-title">{{title}}</div>
</div>

<p3-whim-string-field
[label]="'first'"
[(data)]="_first"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'last'"
[(data)]="_last"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'email'"
[(data)]="_email"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'phone'"
[(data)]="_phone"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-date-field
[label]="'birthday'"
[(data)]="_birthday"
[editMode]="editMode">
</p3-whim-date-field>

<p3-whim-string-field
[label]="'address'"
[(data)]="_address1"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'address (line 2)'"
[(data)]="_address2"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'city'"
[(data)]="_city"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'state'"
[(data)]="_state"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'country'"
[(data)]="_country"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-string-field
[label]="'organization'"
[(data)]="_organization"
[editMode]="editMode">
</p3-whim-string-field>

<p3-whim-tags-field
[label]="'tags'"
[(data)]="_tags"
[editMode]="editMode">
</p3-whim-tags-field>

<p3-whim-notes-field
[label]="'notes'"
[(data)]="_notes"
[editMode]="editMode">
</p3-whim-notes-field>

<div class="button-group">
  <button type="submit" *ngIf="editMode" (click)="update()">Update</button>
  <div class="button" *ngIf="editMode" (click)="cancel()">Cancel</div>
  <div class="button" *ngIf="!editMode" (click)="toEditMode()">Edit</div>
  <div class="button" *ngIf="!editMode" (click)="delete()">Delete</div>
  <div class="button nav-away-button" *ngIf="!editMode" (click)="toDashboard()">Back to dashboard</div>
</div>

<div class="process-message">{{processMessage}}</div>
