:host {
  .frame {
    max-width: 600px;
    margin: 15% auto;

    .description {
      p {
        margin: 10px 0;
        line-height: 2em;

        &.indent {
          padding-left: 40px;
        }
      }
    }
  }
}
