<div id="fb-root"></div>
<div class="frame" [ngSwitch]="windowManager.currentWindow$ | async">
  <div class="description">
    <p><b>whim</b> is about building stronger connections with the most important people in your life. In this age of technological distractions and productivity obsessions, I rarely take the time out of my day to reach out to even my closest friends. I built this as a reminder that</p>

    <p class="indent">we can all find 5 minutes in the day to strengthen the relationships that matter to us</p>
    <p class="indent">those 5 minutes can mean a world of difference to the person you reach out to

    <p>Try it out. Choose someone once a day and take the time to reach out to them in a meaningful way.</p>
  </div>

  <div class="break"></div>

  <div class="window-view-container">
    <div *ngSwitchCase="WindowView.None"></div>
    <p3-whim-login *ngSwitchCase="WindowView.Login"               [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-login>
    <p3-whim-passcode *ngSwitchCase="WindowView.Passcode"         [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-passcode>
    <p3-whim-signup *ngSwitchCase="WindowView.Signup"             [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-signup>
    <p3-whim-add-friends *ngSwitchCase="WindowView.AddFriends"    [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-add-friends>
    <p3-whim-add-events *ngSwitchCase="WindowView.AddEvents"      [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-add-events>
    <p3-whim-show-friends *ngSwitchCase="WindowView.ShowFriends"  [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-show-friends>
    <p3-whim-dashboard *ngSwitchDefault                           [args]="viewArgs" (switchTo)="switchTo($event)"></p3-whim-dashboard>
  </div>

  <div class="break"></div>

  <div class="footer">
    <div class="internal-link" (click)="logout()">Logout</div>
    <div class="internal-link">Settings</div>
  </div>
</div>
