<div class="nav">
  <a class="title" [href]="title.route">{{navTitle}}</a>
  <a class="link" *ngFor="let link of links" [href]="link.route">{{link.name}}</a>
</div>
<div class="content">
  <p>Hi! I'm a musician and software engineer, enthralled by everything in the union, and specifically the intersection, of these two fields. By day, I work on Microsoft's cloud-based machine learning platform. By night, I transcribe tunes from Kind of Blue, predict the weather in Redmond, and train for triathlons.</p>
  <img src="assets/profile.jpg" />
</div>
<p3-footer></p3-footer>
