<div class="frame">
  <div class="nav flex">
    <a class="title" [href]="title.route">{{navTitle}}</a>
    <a class="link" *ngFor="let link of links" [href]="link.route">{{link.name}}</a>
  </div>
  <div class="flex top">
    <div class="content">

      <div class="header" [id]="home.elementId">{{home.header}}</div>
      <p *ngFor="let paragraph of home.content; let i = index" [class.top]="i === 0" [innerHTML]="paragraph"></p>

      <img class="profile_pic" src="assets/profile.jpg" />
      <div class="caption">c. {{currentYear}}</div>

      <div class="divider"></div>

      <div class="header" [id]="about.elementId">{{about.header}}</div>
      <p *ngFor="let paragraph of about.content; let i = index" [class.top]="i === 0" [innerHTML]="paragraph"></p>

      <div class="divider"></div>

      <div class="header" [id]="work.elementId">{{work.header}}</div>
      <p *ngFor="let paragraph of work.content; let i = index" [class.top]="i === 0" [innerHTML]="paragraph"></p>
      <div class="item" *ngFor="let role of roles">
        <div class="line">
          <a class="organization left" [href]="role.link">{{role.organization}}</a>
          <div class="position right">{{role.position}}</div>
        </div>
        <div class="line">
          <div class="date left">{{role.dates}}</div>
          <div class="location right">{{role.location}}</div>
        </div>
      </div>
      <div class="links">
        <a href="https://github.com/glasperfan"><img src="assets/github.png" /></a>
        <a href="https://www.strava.com/athletes/zabriskie"><img src="assets/strava.png" /></a>
        <a href="https://soundcloud.com/hughza"><img src="assets/soundcloud.png" /></a>
      </div>

      <div class="divider"></div>

      <div class="header" [id]="content.elementId">{{content.header}}</div>
      <p *ngFor="let paragraph of content.content; let i = index" [class.top]="i === 0" [innerHTML]="paragraph"></p>

      <div class="divider"></div>

      <div class="header" [id]="contact.elementId">{{contact.header}}</div>
      <p *ngFor="let paragraph of contact.content; let i = index" [class.top]="i === 0" [innerHTML]="paragraph"></p>
      <p3-terminal></p3-terminal>

    </div>
  </div>
</div>
<p3-footer></p3-footer>
