<div class="field boolean-field" *ngIf="shouldShow">
  <div class="data">
    <i *ngIf="iconLabel" [ngClass]="'icon-label fa fa-' + iconLabel + ' ' + labelClass" aria-hidden="true"></i>
    <label *ngIf="!iconLabel" [ngClass]="'label ' + labelClass" [attr.for]="label">{{label}}</label>

    <input [disabled]="!editMode"
    class="form-control"
    type="checkbox"
    [(ngModel)]="data" />

  </div>

  <div class="actions" *ngIf="showControls">
    <div class="action" *ngIf="editMode" (click)="finishEdit()">show</div>
    <div class="action" *ngIf="!editMode" (click)="edit()">edit</div>
  </div>
</div>
