@import '../login/login';

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;

  .data {
    display: flex;

    .label {
      width: 140px;
      text-align: right;
      margin-right: 25px;
      color: #AAA;

      &.sub-label {
        font-size: 0.8em;
        width: 85px;
        text-align: left;
        margin-right: 0;
      }
    }

    .data-container {
      width: 300px;
      max-width: 300px;
      margin-left: 16px;

      .main-input {
        min-height: 40px;

        > input, textarea, .value {
          margin-left: 0; // margin added on data-container
        }
      }

      .details {
        width: 300px;
      }

      .sub-field {
        align-items: baseline;
        min-height: 40px;

        .form-control {
          width: 50px;
        }

        .sub-field-options {

          .sub-field-option {
            min-height: 30px;
          }
        }
      }
    }

    .value {
      margin-left: 16px;

      &.empty {
        font-style: italic;
        color: #AAA;
      }
    }
  }

  .actions {
    cursor: pointer;
  }
}
