@import '../login/login';

.field {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .data {
    display: flex;

    .label {
      width: 140px;
      text-align: right;
      margin-right: 25px;
      color: #AAA;
    }
  }

  input.form-control {
    margin-left: 0;
  }

  .actions {
    cursor: pointer;
  }
}
