<div class="field multiline-field" *ngIf="shouldShow">
  <div class="data">
    <label class ="label"[attr.for]="label">{{label}}</label>
    <div *ngIf="!editMode">
      <div class="value" *ngIf="value && value.length">{{value}}</div>
      <div class="value empty" *ngIf="!value || !value.length">{{emptyProperty}}</div>
    </div>
    <div class="border" *ngIf="editMode">
      <textarea #text
      autosize
      class="value editable form-control"
      (ngModelChange)="updateValue(text.value)"
      [ngModel]="value">
      </textarea>
    </div>
  </div>
</div>
<div class="actions" *ngIf="showControls">
  <div class="action" *ngIf="editMode" (click)="finishEdit()">show</div>
  <div class="action" *ngIf="!editMode" (click)="edit()">edit</div>
</div>
