<div class="field notes-field" *ngIf="shouldShow">
  <div class="data">
    <i *ngIf="iconLabel" [ngClass]="'icon-label fa fa-' + iconLabel + ' ' + labelClass" aria-hidden="true"></i>
    <label *ngIf="!iconLabel" [ngClass]="'label ' + labelClass" [attr.for]="label">{{label}}</label>

    <div class="notes">

      <div class="new-note" *ngIf="editMode">
        <div class="border">
          <textarea autosize
          class="form-control"
          [placeholder]="placeholder"
          (keydown)="listenForSubmit($event)"
          [(ngModel)]="newNoteText">
          </textarea>
        </div>
        <div class="description">Type Shift + Enter to submit.</div>
      </div>

      <div class="note" *ngFor="let note of data; let i = index">
        <div class="border">
          <div class="note-content">
            <div class="header">
              <div class="header-prop" *ngIf="note.dateCreated === note.dateModified">
                {{note.dateCreated | datetimeRel}}
              </div>
              <div class="header-prop" *ngIf="note.dateCreated !== note.dateModified">
                edited {{note.dateModified | datetimeRel}}
              </div>
            </div>
            <div class="wrapper">
              <div class="text" [innerHTML]="note.text | markdown"></div>
            </div>
            <div class="actions">
              <div class="action" *ngIf="!editMode">{{note.text.length}} characters</div>
              <div class="action" (click)="deleteNote(i)" *ngIf="editMode">delete</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
