@import 'field';
@field-width: 310px; // compensates for padding string fields?
@field-margin-left: 16px;

.field.notes-field {
  display: block;
  margin: 6px 0;

  .notes {
    flex: 1;
    margin-left: @field-margin-left;

    .new-note {
      margin-bottom: 25px;
      width: @field-width;

      .border {
        background-color: @selection-background;
      }
    }
  }

  .border {
    border: 1px solid @shading-color;
    background-color: @background-color;
    padding: 2px;
    position: relative;
    overflow: hidden;
    border-radius: 2px;
  }

  textarea.form-control {
    border: none;
    padding: 2px;
    margin-left: 0;
    outline: none;
    cursor: text;
    min-height: 80px;
    margin-top: 2px;
    box-sizing: border-box;
    width: 100%;
  }

  .description {
    font-size: 12px;
    color: @light-text;
  }

  .note {
    margin-bottom: 20px;
    width: @field-width;

    .note-content {
      padding: 4px;

      .note-header {
        padding: 5px 0;
        font-size: @content-font-size;
        color: @light-text;
        display: flex;
        border-bottom: 1px solid @shading-color;
      }

      .wrapper {
        position: relative;
        overflow: hidden;

        .text {
          word-break: break-word;
          padding: 9px 0;
        }

        textarea.form-control { /* existing note */
          background-color: @background-color;
        }
      }

      .actions {
        font-size: @content-font-size;
        color: @light-text;
        display: flex;
        justify-content: flex-end;

        .note-prop {
          .clickable;
        }
      }
    }
  }
}
