<div class="field string-field" *ngIf="shouldShow">
  <div class="data centered">
    <i *ngIf="iconLabel" [ngClass]="'icon-label fa fa-' + iconLabel + ' ' + labelClass" aria-hidden="true"></i>
    <label *ngIf="!iconLabel" [ngClass]="'label ' + labelClass" [attr.for]="label">{{label}}</label>

    <div *ngIf="!editMode">
      <div class="value" *ngIf="value && value.length">{{value}}</div>
      <div class="value empty" *ngIf="!value || !value.length">{{emptyProperty}}</div>
    </div>

    <div *ngIf="editMode">
      <input *ngIf="isPasscode"
      class="form-control"
      type="password"
      [placeholder]="placeholder"
      [(ngModel)]="data"
      maxlength="passcodeLength"
      size="passcodeLength"/>

      <input *ngIf="!isPasscode"
      class="value editable form-control"
      type="text"
      [placeholder]="placeholder"
      [(ngModel)]="data"/>

    </div>

  </div>
  <div class="actions" *ngIf="showControls">
    <div class="action" *ngIf="editMode" (click)="finishEdit()">show</div>
    <div class="action" *ngIf="!editMode" (click)="edit()">edit</div>
  </div>
</div>
