<div class="whim-frame">
    <div class="whim-title">Sign Up</div>
    <div class="whim-form">

        <p3-whim-string-field
        [label]="'F'"
        [placeholder]="'First name'"
        [editMode]="editMode"
        [(data)]="_first">
        </p3-whim-string-field>

      <p3-whim-string-field
      [label]="'L'"
      [placeholder]="'Last name'"
      [editMode]="editMode"
      [(data)]="_last">
      </p3-whim-string-field>

      <p3-whim-string-field
      [iconLabel]="'envelope-o'"
      [placeholder]="'Email'"
      [editMode]="editMode"
      [(data)]="_email">
      </p3-whim-string-field>

      <p3-whim-string-field
      [iconLabel]="'map-marker'"
      [placeholder]="'City'"
      [editMode]="editMode"
      [(data)]="_city">
      </p3-whim-string-field>

      <p3-whim-string-field
      [iconLabel]="'lock'"
      [placeholder]="'Passcode'"
      [editMode]="editMode"
      [isPasscode]="true"
      [(data)]="_passcode">
      </p3-whim-string-field>

      <p3-whim-string-field
      [iconLabel]="_passcodesMatch ? 'check' : ''"
      [placeholder]="'Re-type passcode'"
      [editMode]="editMode"
      [isPasscode]="true"
      [(data)]="confirmationPasscode">
      </p3-whim-string-field>

      <div class="form-control-desc">Choose a 4-digit passcode as your password.</div>

      <div class="button-group">
        <div class="button" (click)="signup()">Sign up</div>
        <div class="button" (click)="toLogin()">Log in</div>
      </div>

    </div>

    <div class="process-message" *ngIf="processMessage">{{processMessage}}</div>
  </div>
