<div class="dashboard-block add-session-block">
  <div class="block-frame">
    <div class="block-title">new</div>
    <div class="input-frame">
      <div class="session-type">Mood</div>
      <div class="add-session-icon">+</div>
    </div>
  </div>
</div>

<div class="dashboard-block session-block" *ngFor="let session of currentSessions$ | async; let i = index">
  <div class="block-frame">
    <div class="block-title" *ngIf="i === 0">now</div>
    <div class="block-title" *ngIf="i === 1">next</div>
    <div class="block-title" *ngIf="i === 2">later</div>
    <div class="block-title" *ngIf="i > 2">later</div>
    <div class="session-type">{{session.mood.displayName | capitalize}}</div>
  </div>
</div>

