<div class="dashboard-block add-session-block">
  <div class="block-frame">
    <div class="block-title">new</div>
    <div class="add-session-icon">+</div>
  </div>
</div>

<div class="dashboard-block session-block">
  <div class="block-frame">
    <div class="block-title">now</div>
    <div class="session-type">rage</div>
  </div>
</div>

<div class="dashboard-block session-block">
  <div class="block-frame">
    <div class="block-title">next</div>
    <div class="session-type">monk</div>
  </div>
</div>

<div class="dashboard-block session-block">
  <div class="block-frame">
    <div class="block-title">later</div>
    <div class="session-type">rage</div>
  </div>
</div>

