@import 'shared';

:host {
  background-color: #444;
  width: @dashboard-width;
  box-shadow: 1px 1px 4px 1px #ccc;
  transition: 0.5s all ease-out;
}

#credits {
  .center;
  .small-text;
  flex-direction: column;
  height: 8em;
  text-transform: initial;

  .mela-icon {
    width: 25px;
    height: 25px;
  }

  .by-us {
    margin-top: 3px;
    font-size: 0.85em;
  }
}

.toc {
  color: white;
  padding: 0 1em;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 3em;
  height: 16em;

  >li {
    text-transform: capitalize;
    .link;
  }
}