@import 'shared';
:host {
  float: right;
  margin-top: 50px;
  transition: 0.5s all ease-out;

  .overlay {
    width: 100%;
    height: 100%;
  }

  .main-display {
    max-width: 650px;
    min-width: 350px;
    min-height: 100%;
    margin: 0 auto;


    .banner {
      display: flex;
      height: 125px;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .description {
        .small-text;
      }

      .info {
        padding-top: 35px;
        font-size: 4em;
        font-weight: bold;
      }

      #timer {
        margin-left: 50px;
      }

      #sound {
        margin-right: 50px;
      }
    }

    #clock {
      .center;
    }

    #credits {
      position: absolute;
      right: 10px;
      bottom: 10px;
      .small-text;
      text-transform: initial;

      .mela-icon {
        width: 25px;
      }

      .by-us {
        font-size: 0.85em;
      }
    }
  }
}
