@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

@dashboard-width: 160px;
@block-height: 90px; // 9:16 ratio to dashboard width
@clock-width: 300px;
@pause-btn-width: 200px;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-text {
  font-size: 0.85em;
  color: #AAA;
  text-transform: uppercase;
}

.link {
  cursor: pointer;
}
