<div class="authorize">
    <a href="{{auth.uberAuthorizationUrl}}" class="btn btn-outline-info">Login With Uber</a>
    <p class="description">
        Uber Footprint is the best available tool to analyze your ride history and measure your environmental impact.
    </p>
    <p class="description">
        Feel free to email me anytime at <a href="mailto:zabriskiehugh@gmail.com">zabriskiehugh@gmail.com</a>.
    </p>
    <p class="description">
        <a [href]="auth.privacyPolicyUrl">Privacy Policy</a>.
    </p>
</div>