<div class="wrapper">
    <div *ngIf="!componentLoading; else loading">
        <div class="component">
            <!-- Chart -->
            <div class="chart-with-options" [style.height.px]="chartHeight">
                <div id="main-chart"></div>
                <div class="chart-options">
                    <mat-form-field class="chart-option">
                        <mat-select 
                            placeholder="Select an aggregator..."
                            [(value)]="selectedAggregator"
                            (selectionChange)="onAggregatorSelection($event)"
                        >
                            <mat-option *ngFor="let agg of stats.AggregatorOptions | keyvalue" [value]="agg.key">{{agg.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="chart-option">
                        <mat-select
                            placeholder="Select an interval..."
                            [(value)]="selectedInterval"
                            (selectionChange)="onIntervalSelection($event)"
                        >
                            <mat-option *ngFor="let opt of stats.IntervalOptions | keyvalue" [value]="opt.key">{{opt.value}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- Trends -->
            <div class="trends">
                <div class="trend-banner">{{trendBanner}}</div>
                <div class="trend-container">
                    <div class="trend" *ngFor="let t of trends | keyvalue: sortByInterval">
                        <span [ngClass]="['material-icons', iconForTrend(t.value)]">{{iconForTrend(t.value)}}</span>
                        <span class="trend-value">{{formatTrend(t.value)}}</span>
                        <span class="trend-desc">Compared to last {{t.key}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="spinner">
            <p3-loading [height]="componentHeight"></p3-loading>
        </div>
    </ng-template>
</div>