<div class="whim-header">
  <div class="whim-title">{{title}}</div>
</div>
<form (ngSubmit)="add()">

  <p3-whim-string-field
  [label]="'First name'"
  [editMode]="true"
  [(data)]="_first">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'Last name'"
  [editMode]="true"
  [(data)]="_last">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'Email'"
  [editMode]="true"
  [(data)]="_email">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'Phone'"
  [editMode]="true"
  [(data)]="_phone">
  </p3-whim-string-field>

  <p3-whim-date-field
  [label]="'Birthday'"
  [(data)]="_birthday"
  [editMode]="true">
  </p3-whim-date-field>

  <p3-whim-string-field
  [label]="'address'"
  [(data)]="_address1"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'address (line 2)'"
  [(data)]="_address2"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'city'"
  [(data)]="_city"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'state'"
  [(data)]="_state"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'country'"
  [(data)]="_country"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-string-field
  [label]="'organization'"
  [(data)]="_organization"
  [editMode]="true">
  </p3-whim-string-field>

  <p3-whim-tags-field
  [label]="'tags'"
  [(data)]="_tags"
  [editMode]="true">
  </p3-whim-tags-field>

  <p3-whim-multiline-field
  [label]="'Notes'"
  [(data)]="_firstNote"
  [editMode]="true">
  </p3-whim-multiline-field>

  <div class="button-group">
      <button type="submit">Add {{_first}}</button>
      <div class="button nav-away-button" (click)="toDashboard()">Back to dashboard</div>
  </div>

  <div class="process-message">{{processMessage}}</div>
</form>
