<div class="whim-header">
  <div class="whim-title">{{title}}</div>
  <div class="whim-subtitle">{{description}}</div>
</div>
<form (ngSubmit)="addFriend()">
  <div class="form-group">
    <label for="first">First name</label>
    <input type="text" name="first" class="form-control" [(ngModel)]="args.first" required />
  </div>

  <div class="form-group">
    <label for="last">Last name</label>
    <input type="text" name="last" class="form-control" [(ngModel)]="args.last" required />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="email" class="form-control" [(ngModel)]="args.email" />
  </div>

  <div class="form-group">
    <label for="last">Phone</label>
    <input type="tel" name="phone" class="form-control" [(ngModel)]="args.phone" />
  </div>

  <div class="form-group">
    <label for="last">Birthday</label>
    <input type="text" name="birthday" class="form-control" [(ngModel)]="args.birthday" />
  </div>

  <p3-whim-add-tags [tags]="args.tags" (tagsChange)="onTagsChange($event)"></p3-whim-add-tags>

  <div class="form-group multi-line">
    <label for="notes">Notes</label>
    <textarea name="notes" class="form-control" [(ngModel)]="args.notes" placeholder="What's their favorite color?"></textarea>
  </div>

  <div class="button-group">
      <button type="submit">Add {{args.first}} {{args.last}}</button>
      <div class="nav-away-button" (click)="toDashboard()">Back to dashboard</div>
  </div>

  <div class="process-message">{{processMessage}}</div>
</form>
