<div class="navbar">
  <div class="nav-selection"
  *ngFor="let selection of navSelections"
  (click)="view(selection)"
  [class.selected]="navSelection === selection"
  >
    <img [src]="selection.icon" alt="selection.iconDesc" />
  </div>
</div>
<div class="content" [ngSwitch]="navSelection.name">
  <!-- Imported sounds tab -->
  <div class="sidebar" *ngSwitchCase="'Library'">
    Library - coming soon!
  </div>
  <div class="sidebar" *ngSwitchCase="'Download'">
    Download - coming soon!
  </div>
  <div class="sidebar" *ngSwitchCase="'Settings'">
    Settings - coming soon!
  </div>

</div>
