:host {
  display: block;
  margin-top: 10%;

  .header {
    font-weight: bold;
  }

  .events {
    .event {
      margin: 10px 0;
      line-height: 2em;

      .top-row {
        display: flex;
        justify-content: space-between;
      }

      .bottom-row {
        font-size: 0.8em;
      }
    }
  }

  .no-events {
    margin: 10px 0;
    line-height: 2em;
    font-style: italic;
  }
}
