<div class="header">upcoming events:</div>

<div *ngIf="userEvents$ | async as events; else cannotLoad">
  <div class="calendar" *ngIf="events.length > 0; else cannotLoad">
    <div class="events" *ngFor="let e of events">
      <div class="event">
        <div class="row top-row">
          <div class="event-title" (click)="goToEvent(e)">{{e.title}}</div>
          <div class="event-date">{{nextOccurrence(e.date) | dateRel}}</div>
        </div>
        <div class="row bottom-row">
          <div class="event-desc text-overflow" *ngIf="e.description">{{e.description}}</div>
          <div class="event-desc text-overflow" *ngIf="!e.description"><i>(no description)</i></div>
          <div class="event-recurrence" *ngIf="e.date.recurrence.isRecurrent">
            <span class="event-recurs">recurs</span>
            <span class="event-recurEvery"
            *ngIf="e.date.recurrence.recurEvery && e.date.recurrence.recurEvery.pattern">
            {{formatRecurrence(e.date.recurrence.recurEvery.pattern)}}
            </span>
            <span class="event-recurFor" *ngIf="e.date.startDate !== e.date.endDate">
              (ends {{e.date.endDate | dateRel}})
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cannotLoad><div class="no-events">{{errorMessage}}</div></ng-template>
