<div class="header">upcoming events</div>

<div class="content" *ngIf="userEvents$ | async as events; else cannotLoad">
  <div class="calendar" *ngIf="events.length > 0; else cannotLoad">
    <div class="row-container bordered" *ngFor="let e of events">
      <div class="row clickable" (click)="goToEvent(e)">
        <div class="inner-row top-row">
          <div class="cell highlighted">{{e.title}}</div>
          <div class="cell">{{nextOccurrence(e.date) | dateRel}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template class="content" #cannotLoad><div class="no-events">{{errorMessage}}</div></ng-template>
