<div class="console">

  <div class="history">
    <div class="cmd prev" *ngFor="let log of logs">
      <div class="line" *ngIf="log.text">{{log.text}}</div>
      <div class="line" *ngIf="log.message">{{log.message}}</div>
    </div>
  </div>

  <div class="cmd current">
    <div class="line flex" [class.openMessage]="!response?.requiresTextarea">
      <span class="prefix"> {{promptPrefix}} </span>
      <span class="prompt" *ngIf="response?.prompt"> {{response?.prompt}} </span>
      <input
      #inputField
      *ngIf="!response?.requiresTextarea"
      type="text"
      [(ngModel)]="input"
      (keyup.enter)="execute()"
      />
      <div class="message" *ngIf="response?.requiresTextarea">
        <textarea [(ngModel)]="input"></textarea>
        <div class="console-btn" (click)="execute(); inputFocus()">Submit</div>
    </div>
  </div>

</div>
<div class="extra-space" (click)=inputFocus()></div>
