@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  /* Full page app */
  html, body {
    height: 100%;
    width: 100%;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
  }

a:link {
    /* Applies to all unvisited links */
    text-decoration: none;
    color: #149ae8;
    transition: color 0.2s ease-in-out;
}

a:visited {
    /* Applies to all visited links */
    color:#149ae8;
}

a:hover   {
    /* Applies to links under the pointer */
    color:#44baff;
}

a:active  {
    /* Applies to activated links */
    color: black;
}


.right {
    float: right;
}

.left {
    float: left;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex.top {
  align-items: baseline;
}

.path--background {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

